<div class="col m12 l6 player-card">
  <div class="card-panel blue-grey-text text-darken-3 player">
    <div class="player-name">
      <div class="input-field">
        <input type="text" maxlength="25">
        <label></label>
      </div>
    </div>
    <div class="score">
      <h1 class="value">0</h1>
    </div>
    <div class="modifiers">
      <div class="plus-modifiers">
        <button class="btn plus one green accent-1 green-text text-darken-4 waves-effect disabled" tabindex="-1">+1</button>
        <button class="btn plus two green accent-2 green-text text-darken-4 waves-effect disabled" tabindex="-1">+2</button>
      </div>
      <div class="minus-modifiers">
        <button class="btn minus one red accent-1 waves-effect disabled" tabindex="-1">-1</button>
        <button class="btn minus two red accent-2 waves-effect disabled" tabindex="-1">-2</button>
      </div>
    </div>
  </div>
</div>