body {
  cursor: default;
  user-select: none;
}

main {
  padding: 15px;
}

footer, header {
  padding: 15px;
  display: flex;
}

footer {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  margin-bottom: 0;
  justify-content: flex-end;
}

header > h5 {
  margin: 0;
  height: 36px;
  display: flex;
  align-items: center;
}

#cancel {
  margin-left: 15px;
}

#nb-player-choice {
  color: #ede7f6;
}

#choice-list {
  display: flex;
  flex-direction: row;
  height: 70px;
}

#cancel:active {
  color: white !important;
}

#choice-list > li {
  height: 70px;
  cursor: pointer;
  flex: 1;
  -webkit-transition-duration: 0.1s;
  transition-duration: 0.1s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#choice-list > li:hover, #choice-list > li.active {
  font-size: 42px;
  border-bottom: solid 1px;
}

#choice-list > li.active {
 color: #b388ff;
 border-width: 2px;
}

#choice-list > .surrounder {
  font-size: 28px;
}