body {
  user-select: none;
  cursor: default;
}
body a {
  cursor: pointer;
}

main {
  padding: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#no-game {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#new-player-button {
  height: 120px;
  margin-top: .5rem;
  border: 2px dashed #ff9e80;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ff9e80;
  cursor: pointer;
}
#new-player-button i {
  margin-right: 10px;
}
#new-player-button:hover, #new-player-button:active {
  border-color: #ff3d00;
  color: #ff3d00;
  background-color: rgba(255, 255, 255, 0.2)
}

div.player {
  display: flex;
  justify-content: flex-end;
  position: relative;
}

h1.value,
.player-name,
.player-name input {
  margin: 0;
}

.player-name {
  display: flex;
  align-items: stretch;
  flex: 1;
}

.player-name .input-field {
  width: 100%;
}
.player-name input[type=text] {
  border-bottom: 1px solid #ff3d00;
}

div.modifiers {
  display: flex;
}

div.plus-modifiers, div.minus-modifiers {
  display: flex;
  flex-direction: column;
}

.score {
  width: 145px;
  text-align: center;
  padding: 0 15px;
}

.player-color-picker,
.close-picker-btn {
  height: 30px;
  width: 30px;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.5);
}

.player-color-picker {
  align-self: center;
  margin: 0 10px 0px 0;
  border: solid 3px white;
  transition: box-shadow 0.5s;
}

.close-picker-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-picker-btn:hover,
.player-color-picker:hover {
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.5);
}

.color-picker {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: white;
  z-index: 2;
  display: flex;
}

.color-picker .colors {
  margin: 5px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.color-picker .color-row {
  flex: 1;
  display: flex;
  flex-direction: row;
}

.close-picker {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.color-choice {
  flex: 1;
  border: solid 3px white;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.color-choice.active {
  opacity: 0.5;
}

.color-choice:not(.active) .checkmark {
  opacity: 0;
}

.color-choice:not(.active) {
  cursor: pointer;
}

.color-choice:not(.active):hover {
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.5)
}

.color-choice.active .checkmark {
  opacity: 1;
}

/** Changing the color of the inputs **/

/* label color */
.input-field label {
  color: #ff3d00;
}
/* label focus color */
.input-field input[type=text]:focus + label {
  color: #ff3d00;
}
/* label underline focus color */
.input-field input[type=text]:focus {
  border-bottom: 1px solid #ff3d00;
  box-shadow: 0 1px 0 0 #ff3d00;
}
/* icon prefix focus color */
.input-field .prefix.active {
  color: #ff3d00;
}