main {
  padding: 15px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#no-game {
  height: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}

#results {
  height: 100%;
  display: flex;
  justify-content: space-around;
}
main.horizontal #results {
  flex-direction: column;
}
main.vertical #results {
  flex-direction: row;
}

div.player-result {
  margin: 5px;
  display: flex;
  align-items: center;
}
div.player-result .card-panel {
  margin: 0;
}
main.horizontal div.player-result {
  flex-direction: row;
}
main.vertical div.player-result {
  flex-direction: column-reverse;
}

span.score-display {
  background-color: #ff6e40;
  border-radius: 3px;
  width: 60px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: white;
  position: absolute;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
main.horizontal span.score-display {
  left: 15px;
}
main.vertical span.score-display {
  bottom: 17px;
}

span.score-display:before {
  width: 0;
  height: 0;
  content: " ";
  position: absolute;
}
main.horizontal span.score-display:before {
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-right: 10px solid #ff6e40;
  right: 100%;
}
main.vertical span.score-display:before {
  border-right: 8px solid transparent;
  border-left: 8px solid transparent;
  border-top: 10px solid #ff6e40;
  top: 100%;
}

span.score-display:after {
  content: " ";
  position: absolute;
  border-radius: 2px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  background-color: #ff6e40  ;
}
main.vertical span.score-display:after {
  width: 20px;
  height: 6px;
  top: 54px;
  left: 20px;
}
main.horizontal span.score-display:after {
  width: 6px;
  height: 19px;
  right: 72px;
  top: 11px;
}

div.outer-score {
  background-color: #eceff1;
  flex: 1;
  position: relative;
  display: flex;
  border-radius: 50px;
}
main.horizontal div.outer-score{
  align-items: center;
  height: 10px;
  margin: 0 92px 0 15px;
}
main.vertical div.outer-score {
  justify-content: center;
  align-items: flex-end;
  width: 10px;
  margin: 72px 0 15px 0;
}

div.inner-score {
  background-color: #ff9e80;
  position: absolute;
  bottom: 0;
  left: 0;
  border-radius: 50px;
}
main.horizontal div.inner-score {
  width: 0%;
  top: 0;
}
main.vertical div.inner-score {
  height: 0%;
  right: 0;
}

div.score-wrapper {
  display: flex;
  position: relative;
}
main.vertical div.score-wrapper {
  justify-content: center;
}
main.horizontal div.score-wrapper {
  align-items: center;
}

div.player-position {
  opacity: 0;
}