<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Vue Spectateur</title>
  <link rel="stylesheet" href="../assets/materialize/css/materialize.min.css">
  <link rel="stylesheet" href="../assets/material-icons-font/material-icons.css">
  <link rel="stylesheet" href="./spectator-view.css">
</head>

<body class="blue-grey">
  <main id="spectator" :class="[viewType]">
    <!--<no-game id="no-game" v-if="state === 'no-game'" class="blue-grey-text text-lighten-3"></no-game>
    <div id="results" v-if="state === 'game'">
      <player-result v-for="player in players" :player="player" :key="player.id"></player-result>
    </div>-->
    <div id="results">
      <div class="player-result">
        <div class="player-score red">999</div>
        <div class="wrapper">
          <div class="player-name">Joueur 1</div>
          <div class="outer-bar red lighten-5">
            <div class="inner-bar red"></div>
          </div>
        </div>
      </div>
      <div class="player-result">
        <div class="player-score purple">999</div>
        <div class="wrapper">
          <div class="player-name">Joueur 1</div>
          <div class="outer-bar purple lighten-5">
            <div class="inner-bar purple"></div>
          </div>
        </div>
      </div>
      <div class="player-result">
        <div class="player-score blue">999</div>
        <div class="wrapper">
          <div class="player-name">Joueur 1</div>
          <div class="outer-bar blue lighten-5">
            <div class="inner-bar blue"></div>
          </div>
        </div>
      </div>
      <div class="player-result">
        <div class="player-score teal">999</div>
        <div class="wrapper">
          <div class="player-name">Joueur 1</div>
          <div class="outer-bar teal lighten-5">
            <div class="inner-bar teal"></div>
          </div>
        </div>
      </div>
      <div class="player-result">
        <div class="player-score amber">999</div>
        <div class="wrapper">
          <div class="player-name">Joueur 1</div>
          <div class="outer-bar amber lighten-5">
            <div class="inner-bar amber"></div>
          </div>
        </div>
      </div>
      <div class="player-result">
        <div class="player-score brown">999</div>
        <div class="wrapper">
          <div class="player-name">Joueur 1</div>
          <div class="outer-bar brown lighten-5">
            <div class="inner-bar brown"></div>
          </div>
        </div>
      </div>
      <div class="player-result">
        <div class="player-score green">999</div>
        <div class="wrapper">
          <div class="player-name">Joueur 1</div>
          <div class="outer-bar green lighten-5">
            <div class="inner-bar green"></div>
          </div>
        </div>
      </div>
      <div class="player-result">
        <div class="player-score indigo">999</div>
        <div class="wrapper">
          <div class="player-name">Joueur 1</div>
          <div class="outer-bar indigo lighten-5">
            <div class="inner-bar indigo"></div>
          </div>
        </div>
      </div>
      <div class="player-result">
        <div class="player-score pink">999</div>
        <div class="wrapper">
          <div class="player-name">Joueur 1</div>
          <div class="outer-bar pink lighten-5">
            <div class="inner-bar pink"></div>
          </div>
        </div>
      </div>
      <div class="player-result">
        <div class="player-score grey">999</div>
        <div class="wrapper">
          <div class="player-name">Joueur 1</div>
          <div class="outer-bar grey lighten-5">
            <div class="inner-bar grey"></div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <script>
    if (typeof module === 'object') { window.module = module; module = undefined; }
  </script>
  <!-- normal script imports etc  -->
  <script src="../assets/vue-js/vue.js"></script>
  <script src="../assets/jquery/jquery.min.js"></script>
  <script src="../assets/materialize/js/materialize.min.js"></script>
  <!-- Insert this line after script imports -->
  <script>
    if (window.module) module = window.module;
  </script>

  <script>
    require('./spectator-view.js')
  </script>
  <script src="http://localhost:35729/livereload.js"></script>
</body>

</html>